{% extends 'listings/base.html' %}
{% block content %}
    <h1>{{ listing.description }}</h1>
    <ul>
        <li>sold: {{ listing.sold|yesno }}</li>
        <li>Année: {{ listing.yeay }}</li>
        <li>type: {{ listing.type }}</li>
    </ul>
    {% for listing in band.listing_set.all %}
         <li><a href="{% url 'listings-detail' listing.id %}">{{ listing.description }}</a></li>
    {% endfor %}
    <a href="{% url 'listings-change' listing.id%}"> Modifier</a>       
    <a href="{% url 'listings'%}"> retour</a>       
{% endblock  %}